
.foto-noticia{
    width: 100%;
    height: 100%;
}


.botonVerdad {
    width: 100%;
    font-family: "Lora", serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 10px;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #1C290D;
    border-color: rgb(184, 255, 90);
  }

  .margin-bot-top{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .title{
    font-size: 45px;
  }

  .padding{
    padding-left: 10%;
    padding-right: 10%;
  }

  .botonMito:hover{
      background-color: #FFA58C;
  }
  .botonMito {
      width: 100%;
      font-family: "Lora", serif;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      margin: 10px;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1.2rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      color: #1C290D;
      border-color: #FFA58C;
    }
    
  .botonVerdad:hover {
      background-color: rgb(184, 255, 90);
  }
  

  .usuario{
      color: #425CB3;
      margin-left: 10px;
      margin-bottom: 10px;
  }
  

  .usuarioRespuesta{
    color: #425CB3;
    margin-left: 10%;
    margin-bottom: 10px;
  }

  .respuesta{
      margin-left: 10%;
      font-weight: 600;
  }

  .pregunta{
      margin-left: 5%;
      font-weight: 600;
  }