.card-2 {
  height: 270px;
  width: 400px;
  border-color: #6fe3e3;
}


.form-control, .input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 0%;

  flex: 1 1 0%;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  min-width: 0;
  margin-bottom: 0;
}
.card-headerLogin-2 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #09b3b3;
  font-family: "Gotu", sans-serif;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.err {
  color: #ff2638;
}

h1 {
  color: #91aaff;
  font-family: "Lora", serif;
  text-align: center;
}


.img-thumbnail {
    padding: .25rem;
    background-color:#b8ff33;
    max-width: 100%;
    height: auto;
}