.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #6fe3e3;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  font-family: "Gotu", sans-serif;
  
  color:#09b3b3;
  font-size: x-large;
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}





/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}



.card {
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
  width: 100%;
}

.card-header-ou{
  font-family: 'Gotu', sans-serif;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  font-size: x-large;
  background-color: #B2FF5A;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: black;
}



.card-header {
  font-family: "Gotu", sans-serif;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  font-size: x-large;

  background-color: #6fe3e3;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: white;
}

.blockquote {
  font-family: "Roboto", sans-serif;
  margin: 0 0 1rem;
  margin-bottom: 1rem;
}

.manImg{
  height: 50px;
  width: 50px;
  padding-right: 5px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  font-family: 'Open Sans', sans-serif;
}

.btnLogin:hover {
  color: #09b3b3;
}

.welcome {
  display: flex;
  align-items: center;
  padding-top: 5%;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}

a{
  font-size: x-large;
  text-align: center;
}