.title{
  color:#425CB3;
  

  font-family: 'Open Sans', sans-serif;

  font-family: 'Lora', serif;


}

.myth{
  color: #FFA58C
}

.subtitle{
  color:#91AAFF
}

.truth{
  color: #B2FF5A
}


.black{
  color: #1C290D
}
