.title {
  color: #09b3b3;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  margin: 0 auto;
}


.subtitle {
  color: #09b3b3;
}

.truth {
  color: #b2ff5a;
}

.black {
  color: #1c290d;
}

.footer {
  font-family: "Gotu", sans-serif;
  font-size: medium;
  text-align: center;
}

.btnLogin {
  font-family: "Gotu", sans-serif;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 10px;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #09b3b3;
  border-color: #09b3b3;
}

.botonMito {
  width: 10;
  font-family: "Gotu", sans-serif;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 10px;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #1C290D;
  border-color:#ffa58c;
}


.botonMito:hover{
  background-color:#ffa58c;
  color: white  ;
}




.btnLogin:hover {
  background-color:aliceblue;
  
}
