.card-2 {
    height: 270px;
    width: 400px;
    border-color: aqua;
}

.card-headerLogin-2 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:#425cb3;
    font-family: "Gotu",sans-serif;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
}